* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  max-width: 100%;
}

html {
  height: 100dvh;
}

body {
  display: grid;
  height: 100%;
  grid-template-columns: minmax(auto, 300px) minmax(auto, 300px) minmax(auto, 300px) minmax(auto, 1fr);
  grid-template-rows: minmax(50px, 100px) 1fr minmax(10px, 10dvw);
  gap: 2rem;
  grid-template-areas:
    "header header header header "
    ". main main ."
    "footer footer footer footer";
}

header {
  grid-area: header;
  background: blue;
  color: white;
  text-align: center;
  font-size: 30px;
  border: 10px solid yellow;
}

main {
  background: red;
  border: 10px solid yellow;
  grid-area: main;
  display: flex;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-basis: 100px;

  section {
    max-width: 100px;
    max-height: 100px;
    background: yellow;
    border: 10px solid green;
    display: grid;

    img {
      height: 80px;
      width: 80px;
      grid-column: 6/8;
      grid-row: 4/7;
    }
  }

}

footer {
  background: green;
  border: 10px solid yellow;
  grid-area: footer;
}
